.topribbon
{
	width: 100vw;
	height: 5vh;
	font-size: 3vh;
background: rgba(19, 20, 23, 0.4);
}
.topribbon .userInfo
{
position: absolute;
right: 0px;
top: 0px;
height: 100%;
width:10%;
height: 5vh;
background: cornflowerblue;
text-transform: capitalize;
display: table-cell;
vertical-align: middle;
text-align: center;
font-size: .8em;
color:white;
cursor: pointer;
}
.sideRack
{
	position: absolute;
	top:5vh;
	left: 0px;
	width: 15vw;
	height: calc(100vh - 5vh);
background: rgb(19, 20, 23);
	z-index: 1;

}
.sideRack .options ul
{
	list-style: none;
}
.sideRack .options ul li
{
	text-indent: 1em;
	width: 15vw;
	color: rgb(100, 149, 237);
	background: rgb(49, 54, 69);
	margin-top: .5em;
font-size: 1.2em;
cursor: pointer;
text-transform: capitalize;

}
.sideRack .searchNotes
{
margin-top: 1em;
margin-bottom: 1em;
width: 100%;
text-align: center;
}
.sideRack .louis
{
	margin-top: 1em;
color: rgb(165, 165, 165);
text-align: center;
}
.sideRack div:hover
{
color: wheat;
}
.contentPlace
{
position: absolute;
top:10vh;
width:calc(100vw - 15vw);
background: rgb(241, 238, 245);
height: calc(100vh - 10vh);
left: 15vw;
overflow-y: scroll;
}
.sideRack button
{
	color: white;
	width: 13vw;
}
.sideRack input[type="text"]
{
	color: rgb(100, 149, 237);
	border: none ;
	border-radius: 1px;
	width: 14.5vw;
}
/*
Rules for addNote.html
*/
.writeNoteContainer
{
	position: absolute;
	width:90%;
	height:90%;
	top: 5%;
	left: 5%;

}
.writeNoteContainer div
{
position: relative;
float: left;
width:45%;
min-height: 45%;
margin: 2.5%;
margin-bottom: 0%;
}
.writeNoteContainer .typeArea 
{
	background: none;
height: 45%;
}
.writeNoteContainer .typeArea textarea
{
	width: 100%;
	height: 100%;
	border: none;
	border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
}
.writeNoteContainer .typeArea .noteProperties
{
	margin: 0%;
	min-height: 1em;
	background: cornflowerblue;
	width: 100%;
	font-size: 1.5em;
	color: white;
	text-align: left;
	
}
#noteDate
{
	font-family: "Segoe UI Light",Arial;
}
.writeNoteContainer .fileArea 
{
	border-radius: 3px;
	background:rgba(74, 195, 195, 0.23);
}
.writeNoteContainer .fileArea .option
{
	background: cornflowerblue;
	width: 100%;
	margin: 0%;
	height: 2em;
}
.writeNoteContainer .fileArea .option span
{
	background: rgb(49, 54, 69);
	color: white;
	cursor: pointer;
	border-radius: 2px;
	margin: .5em;
}
.writeNoteContainer .fileArea .fileList
{
	width: 100%;
	margin: 0%;
	height: calc(100% - 2em);
	background:rgba(74, 195, 195, 0.23);
	overflow-y: hidden;
}
.writeNoteContainer .fileArea .fileList .uploadOptions
{
	position: absolute;
	bottom: 0em;
	right: 0em;
	background: none;
}
.writeNoteContainer .fileArea .fileList .file
{
width:5em;
height: 5em;
border: 1px solid yellowgreen;
float: left;
margin: .2em;
background-repeat: no-repeat;
}
.writeNoteContainer .fileArea .fileList .file img
{
width:2em;
height: 2em;

}
.writeNoteContainer .toolsSpace
{
margin-top: .5%;
width:45%;
height:10%;
background: none;
text-align: left;
}
.notificationSpace
{
	font-size: 2.5em;
	text-align: center;
	font-family: "segoe UI light",Arial;
	color: green;
}
.titleBar
{
	position: relative;
	min-height: 3vh;
	left: 15vw;
	width: calc(100vw - 15vw);
	font-size: 1.5em;
	font-family: "Segoe UI light",Arial;
	text-indent: 1em;
}
.contentPlace .note{
	position: relative;
	width: 80%;
	margin-top: 2vh;
	min-height: 10vh;
	border-radius: 2px;
	background: white;
	box-shadow: 0px 1px .5px black;


}
.contentPlace .noNote
{
position: relative;
width: 80%;
margin-top: 2vh;
min-height: 10vh;
border-radius: 2px;
background: white;
box-shadow: 0px 1px .5px black;
font-size: 1.5em;
color: dimgrey;
opacity: .8;
line-height: 10vh;

}
.note .noteInfo
{
	height: 4vh;
	position: relative;
	top: 0;
	width: 100%;
	background: cornflowerblue;
	color: white;
	text-align: left;
	text-indent: 1em;
}
.note .contentSlot
{

position: relative;
margin-top: 1em;
	text-align: justify;
	background: white;
	width: 98%;
	text-indent: 1em;
	min-height: calc(10vh - 4vh);




}
.note .fileSlot
{
		margin-top: 1em;
	position: relative;
	display: block;
	background: aliceblue;
	z-index: 45;
	min-height: 6em;
	overflow-y:  scroll;
	padding: 1em;
	border-top: 1px solid rgba(19, 20, 23, 0.4);
}
.note .fileSlot .file
{
	position: relative;
	height: 5em;
	min-width: 5em;
background: gainsboro;
	float: left;
	margin-left: 1em;
	line-height: 5em;
	font-size: 1em;
	cursor: pointer;
	overflow-x: hidden;
		overflow-y: hidden;
		border-radius: 2px;
		box-shadow: 1px 1px 1px slategray;
		box-shadow: 1px 1px 1px rgb(255, 255, 255);
color: rgb(0, 155, 149);
text-shadow: 1px 1px 1px rgb(19, 20, 23);
border: 1px solid silver;
background-repeat: no-repeat
	}
	
.contentPlace .linkBox
{
	position: relative;
	float: left;
	width: 15vw;
	background: wheat;
	background:linear-gradient(cornflowerblue,white);
	margin: 1em;
	box-shadow: 1px 1px 1px slategray;
	cursor: pointer;
}
.contentPlace .linkBox:hover
{
			box-shadow: 1px 1px 1px cadetblue;
}
.contentPlace .linkBox .linkOpt
{
background: rgba(241, 238, 245, 0.29);
	width: 100%;
	font-size: 1em;
	text-align: right;
	color: darkolivegreen;
}
.contentPlace .linkBox .linkOpt:hover
{
	color: white;
}
.contentPlace .linkBox .titlePlace
{
	padding: 1em;
				text-align: justify;
}
.dropDown
{
	position: absolute;
	background: white;
	z-index: 999;
}
#calender
{
	position: absolute;
	background: thistle;
	padding:2em;
	background: white;
	box-shadow: 0px 0px 1px blueviolet;
	display: none;
}