body
{
        font-family: Arial, Helvetica, sans-serif;

}
.title{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8em;
    opacity: .5;
    text-align: left;

}
.about
{
    position: absolute;
    top: 0;
    right: 0;
    color: dimgray;
    font-size: .7em;
}
.midContainer
{
    position: absolute;
    text-align: center;
    margin: 0;
    width: 30em;
    max-width: 100em;
    box-shadow: 0px 0px 4px black;
    border-top-left-radius: 4px;
        border-top-right-radius: 4px;

}
.login
{
vertical-align: middle;
background: rgba(221, 223, 226, 0.41);
/* top: 45vh;*/
/* left: 50vw;*/
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;

}
.login:disabled
{
    opacity: .5;
}
.login input
{
    margin: .5em;
font-size: 1.5em;
border-radius: 1px;
border: none;
background: lightcyan;
color: slateblue;

}
.login .head
{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
.login #loginButton
{
padding: 1em;
background:radial-gradient(rgba(99, 150, 221, 0.74),cornflowerblue);
margin: .5em;
text-align: center;
line-height: max-content;
cursor: pointer;
}
.login #loginButton:active
{
box-shadow: 0px 0px 10px crimson;
}
.login #createAccountButton
{
    padding: 1em;
background:radial-gradient(rgba(99, 150, 221, 0.74),cornflowerblue);
margin: .5em;
text-align: center;
line-height: max-content;
cursor: pointer;
}
.login #createAccountButton:active
{
box-shadow: 0px 0px 10px crimson;
}
.login .cAc
{
    text-align: center;
    padding: 1em;
}
.login .cAc .span
{
        color: green;
        font-size: 1.1em;
}
.login .cAc:hover
{
box-shadow: 0px 0px 5px slateblue;
cursor: pointer;
}
.login .loginTitle
{
        text-align: center;
    padding: 1em;
}
.login .createAc
{
    display: none;
}
.login .inputError
{
    text-align: center;
    font-size: .8em;
    color: crimson;
}
#notificationPlace
{
color: cornflowerblue;
font-size: .8em;
text-align: center;
text-indent: .5em;

}
.headSuccess
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(106, 90, 205);
    text-shadow: #709dea 0px 0px 5px;
}
.headDes
{
    font-size: 1em;
    color: green 0px 0px 5px;

}