/* 
    Document   : raid
    Created on : 13 Sep, 2015, 12:16:23 PM
    Author     : raj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.raid
{
    z-index: 50001555;
    position:fixed;
        background:#fff;
        /*padding-bottom: 375px;*/

    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -o-animation: fadein .5s;
    box-shadow: 5px 5px  20px #212121;
    font-family:sans-serif,arial;
    
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.raid .close
{
    position: absolute;
    width:30px;
    height:30px;
    top:0px;
    right: 0px;
    background-image:url(images/close_red.png);
    background-image:url(images/close.png);
    background-size: contain;
    cursor: pointer;
    z-index:1000;
    
}
.raid .close:hover
{
        background-image:url(images/close_red.png);

}
.raid h1
{
    font-family:sans-serif,arial;
    color: #4B63E7;
    text-align: center;
}
.raid .content
{
    position: relative;
    width:100%;
    background:#fff;
    height: 95%;
    top: 5%;
}
.raid .title
{
    color:#1B3450;
    height: 30px;
    position: absolute;
    font-size: 25px;
font-family:"Segoe UI Light",arial,serif;
background: #fff;
}
.raid .iframe
{
    border:none;
    
}
.buttonSpace
{
    position: absolute;
    width:100%;
    text-align: center;
    bottom: 5px;
}