@CHARSET "UTF-8";
.paper
{
position:absolute;
background:linear-gradient(white,skyblue);
}
.paper #tarea
{
	resize:none;
	            box-sizing: border-box;
	            font-family:arial,serif;
	            font-size:14px;
                    overflow-y:scroll;
}
.paper textarea .placeholder
{
color: #7190D0;
}
	

.paper .timedate
{
	color: #516FD2;
	font-family:arial,serif;
	opacity:.4;
        text-align: center;
}
.imgplace
{
	height:80px;
	border:1px dotted #7192A8;
	border-bottom:none;
}
.imgplace .pholder
{
text-align:center;
color:#B9BDC0;
font-family:Arial,serif;
font-size:50px;
opacity:.5;
	
}
.imgplace .pholder:hover
{

opacity:1;
	
}
button
{
	width:100px;
	background:linear-gradient(#A6EDE6,#B5DEDA);
	outline:none;
	border:1px solid #F9F1F2;
	min-height: 50px;
	min-width: 50px;
}
button:hover
{
		border:1px solid #ECD5D7;
		cursor:pointer;
}
.buttonsubtext
{
	font-size:12px;
	color:#000;
}

.timedate:hover
{
	cursor:pointer;
	opacity:1;
}
#imlist
{
z-index:9999;

}
#imlist td img
{
	
	width:50px;
	height:50px;
	border:1px white solid;
}
progress
{
	width:100%;
	background:#0f0;
	display:none;
}
#geoimage img
{
	cursor:pointer;
	box-shadow:1px 1px 10px #F7F8F7;
}
#geoimage
{
	margin:10px;
	width:150px;
	height:150px;
}
.results
{
	width:80%;
	margin-left:10%;
}
.results tr
{

}
.resulttext
{
	height:80px;
	width:100%;
	background:linear-gradient(skyblue,white);
	border:1px dotted #fff;
	font-size:14px;
	border-bottom:1px dotted #777E72;
}
.resulttext:hover
{
	border:1px dotted #777E72;
}

.resulttext p
{
	text-align:center;
	color:#516FD2;
}
.resulttext .time
{
	position:relative;
		text-align:right;
		top:0px;
		font-size:12px;
}
.thumbspace img
{
width:50px;
height:50px;
margin:5px;
box-shadow:1px 1px 10px #9F40BF;
}
.topribbon
{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	background:linear-gradient(#131400,#020014);
		box-shadow:1px 1px 3px white;
}
.topribbon .logo
{
	font-size:30px;
	font-family:arial,serif;
	color:white;
}
.topribbon tr td
{
	min-width:100px;
	height:50px;
	background:#69677E;
	text-align:center;
	color:white;
	border-radius:2px;
}
.topribbon tr td:hover
{
	background:#4940A5;
	cursor:pointer;
}
a
{
}
.spinner {
	display:none;
position:absolute;
z-index:101;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #f00;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(3.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(3.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
#flowOptions
{
display:none;
position:fixed;
box-shadow:1px 1px 5px #000;
color:#000;
border-radius:2px;
width:300px;
background: #000;
}
#flowOptions tr
{
border:none;
}
#flowOptions td
{
margin:1%;
font-family:arial,serif;
background:#69677E;
height:50px;
color:white;
border:none;
}
#flowOptions td:hover
{
	background:#9C9DA5;
	cursor:pointer;
}

body
{
background:black;
background-image:url(images/notes_official.jpg);
background-attachment:fixed;
background-repeat:no-repeat;
background-size:cover;
font-family: Arial,serif;
}
.optionbar
{
position:fixed;
top:0px;
left:0px;
width:100%;
/*background-image:url(images/tile6.png);*/
	background:linear-gradient(#131400,#020014);
		box-shadow:1px 1px 3px white;
		z-index: 200;
	

z-index:100;
}
.frameplace
{
position:absolute;
top:80px;
width:70%;
margin-left:15%;
}
#searchoptions
{
position:absolute;
bottom:0px;
}
input
{
font-size:20px;
}
#optionbar img
{
font-family:arial,serif;
width:50px;
height:50px;
}
#optionbar td:hover
{
background:#9C9DA5;
cursor:pointer;
}
.nonote
{
position:relative;
	width:98%;
	color:#fff;
	font-family:Arial,serif;
	border-radius:2px;
	background:#A8BBFF;
	text-align:center;
}
.note
{
position:relative;
	width:98%;
	min-height:150px;
	color:#fff;
	font-family:Arial,serif;
	border-radius:2px;
	background-image:url(images/tile.png);
	box-shadow:1px 1px 5px #6D7463;
	overflow:auto;
	margin-top:1%;
	
}
.note .timeslot
{
position:relative;
top:0px;
right:1px;
text-align:right;
color:#7190D0;
font-size:13px;

}
.note .contentslot
{
position:relative;
margin:1%;
width:98%;

}
.note .imgspace
{
position:relative;
float:left;
bottom:1px;
margin:5px;
}

.note .imgspace img
{
width:60px;
height:60px;
  border-radius: 5px 20px 5px;

}
.note .daysago
{
	position:absolute;
	right:0px;
	bottom:0px;
	opacity:.2;
	color:#A19CA5;
	font-size:40px;
}
.note .noteoptions
{
	position: absolute;
	left: 0px;
	top: 0px;
z-index: 102;
}
.note .noteoptions:hover
{
	cursor: pointer;
}
.note .noteoptions img:hover
{
width: 25px;
height:25px;
}
.spinner {
position:absolute;
z-index:101;
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #f00;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(3.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(3.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
input
{
border:none;
border-radius:2px;
outline:none;
}

.optionbar .logo
{
	font-size:30px;
	font-family:arial,serif;
	color:white;
}
.optionbar .option tr td
{
	min-width:100px;
	height:50px;
	background:#69677E;
	text-align:center;
	color:white;
	border-radius:2px;
	font-family:arial,serif;
}
.optionbar tr td:hover
{
	background:#4940A5;
	cursor:pointer;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
::-moz-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-moz-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-moz-scrollbar-thumb
{
	background-color: #000000;
}

#infoPaper
{
position:fixed;
width:600px;
height:600px;
display:none;
background:#fff;
border-radius: 5px;
box-shadow: 0px 0px 6px #000;
}
#infoPaper .topstrip
{

	height: 40px;
	background: #4940A5;
	z-index: 999;
	text-align: center;
	color: white;
	font-size: 35px;

	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
#infoPaperClose
{
position:absolute;
right:0px;
top:0px;
border:#f00;
background-attachment: fixed;
font-size: 15px;
}
#infoPaperClose:hover
{
background: wheat;
cursor:pointer;
color:red;
}
#infoPaperFrame
{
	width:100%;
	box-sizing: border-box;
	border: none;
}