body
{
    font-family: Arial, Helvetica, sans-serif;
}
a::visited
{
    color:green;
}
a
{
    color:green;
}
#docOptions
{

}
#docOptions button{
    font-size: 2em;
    color: blueviolet;
}
#titleDoc
{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: .2em;

}
#docOptions select
{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;

}
#resultSlot
{
}
#resultSlot #result
{
background:lightblue;
min-height: .5em;
font-family: Arial, Helvetica, sans-serif;
font-size: .8em;
padding: 1em;
cursor:pointer;
margin: 1em;
float: left;
 border-radius: 7px;

}
#pageTitle
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
        color: cadetblue;
}
#pageOptions
{
    margin: 1em;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(143, 188, 143, 0.3);
    padding: 1em;
    background: white;

}
#content
{
   max-width: 99%;
    margin: 1em;
    display: inline-block;
word-break: break-word;
text-align: left;
}
#content pre
{
        display: inline-block;

    word-wrap: break-word;
}
#inputSection
{
    background: beige;
    text-align: center;
}
#resultSpace
{
min-height:60vh;
background: aliceblue;
}
#inputSection input 
{
    font-size: 1.5em;
}
#inputSection  select
{
    font-size: 1.5em;
}
#inputSection  button
{
    font-size: 1.5em;
}
#inputSection  textarea
{
    font-size: 1.5em;

}
#coreTable
{
   width: 90%;
    height: 90%;
    margin: 5%;
}
#coreTable tr
{
    font-size: .9em;
    margin: 1em;
    width: 1em;
    background: rgba(125, 191, 9, 0.29)
 

}
#coreTable tr:nth-child(even)
{
        background: white;

}
#coreTable tr td
{
text-align: left;
width: 1vw;
    padding: 1em;

}
#coreTable .contentCell
{
    width: 60%;
}
#coreTable .optionsCell
{
        width: .9em;

}
#coreTable .optionsCell button
{
    font-size: .8em;
}
.timeItem
{
    padding:1em;
    margin: .53em;
    border-radius: 6px;
    /*box-shadow: 0px 2px 1px black;*/
    background: #D5DDF6;
    border-color:#97B0F8;
    overflow-y: auto;

}
.timeItem .yS
{
    background: black;
    float:left;
    font-size: 1.3em;
    color: black;
    border-radius: 2px;
    background-color: #FFF785;
    border-color: #FFC200;
    padding: 1em;
} 
.timeItem .cont
{
    background: none;
        color: black;
    text-indent: 1em;
        font-size: 1em;
            padding: 1em;


}
.timeItem .delete
{
     float: right;
     background: none;
     cursor: pointer;
}

#saveStatus
{
    padding: 1em;
    color: green;
}
#vC
{
    color:green;
    padding: .5em;
}