body
{
    font-family: Arial, Helvetica, sans-serif;
}
#docOptions
{

}
#docOptions button{
    font-size: 2em;
    color: blueviolet;
}
#titleDoc
{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;

}
#resultSlot
{
}
#resultSlot #result
{
background:lightblue;
min-height: .5em;
font-family: Arial, Helvetica, sans-serif;
font-size: .8em;
padding: 1em;
cursor:pointer;
margin: 1em;

}
#pageTitle
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
        color: cadetblue;
}
#pageOptions
{
    margin: 1em;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(143, 188, 143, 0.3);
    padding: 1em;

}
#content
{
    margin: 1em;
}
#inputSection
{
    background: beige;
    text-align: center;
}
#resultSpace
{
min-height:60vh;
background: aliceblue;
}
#inputSection input 
{
    font-size: 1.5em;
}
#inputSection  select
{
    font-size: 1.5em;
}
#inputSection  button
{
    font-size: 1.5em;
}
#inputSection  textarea
{
    font-size: 1.5em;
    width:50%;
    height: 100%;
}
#coreTable
{
   width: 90%;
    height: 90%;
    margin: 5%;
}
#coreTable tr
{
    font-size: .9em;
    margin: 1em;
    width: 1em;
    background: rgba(125, 191, 9, 0.29)
 

}
#coreTable tr:nth-child(even)
{
        background: white;

}
#coreTable tr td
{
text-align: left;
width: 1vw;
    padding: 1em;

}