body
{
    font-family: Arial, Helvetica, sans-serif;
}
#docOptions
{

}
#docOptions button{
    font-size: 2em;
    color: blueviolet;
}
#titleDoc
{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;

}
#resultSlot
{
100vw;
}
#resultSlot #result
{
width: 90%;
background:lightblue;
min-height: 1em;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.5em;
padding: 1em;
margin: .5em;
cursor:pointer;
}
#pageTitle
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
        color: cadetblue;
}
#pageOptions
{
    margin: 1em;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(143, 188, 143, 0.3);
    padding: 1em;

}
#content
{
    margin: 1em;
}