.logo-sweet
{
    width: 100vw;
    height: 10vh;
    background: rgb(63,81,181);
}
.footer-info
{
    position: absolute;
    width: 100vw;
    bottom: 0vh;
    text-align: center;
}
.loaderLinear {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
  
}
.loaderLinear:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}