.login
{
    background: lightsteelblue;
    border-radius: 2px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 1px 2px #4d5a91;
}
h2
{
    color: #4d5a91;
    text-align: center;
}
#report
{
    color: #914d4d;
}
h3{
    color: #4d8c91;
}
input
{
}
.topribbon
{
background: rgba(172, 190, 218, 0.59);
box-shadow: 1px 1px 1px slategray;
}
.footer
{
bottom: 0px;
text-align: center;
width: 90%;
margin-left: 5%;
background: azure;
}
.toolsBar
{
background: rgba(143, 188, 143, 0.38);    text-align: center;
    height: auto;
}
#frameplace
{
    width: 95%;
    margin-left: 2.5%;
    box-shadow: 0px 0px 0px slategray;
    background: none;

}
#frameplace .note
{
  margin: 1.5em;
text-align: left;
background: gainsboro;
box-shadow: 0px 0px 4px #4d5a91;
position: relative;
float: bottom;
overflow: auto;
    
}
#frameplace .timeslot
{
   background: rgba(2, 121, 62, 0.29);
color: rgb(56, 56, 56);
text-align: right;
}
#frameplace .daysago
{
    text-align: right;
    opacity: .3;
}
.spinner {
 display:none;
/*position:absolute;*/
z-index:101;
  width: 2em;
  height: 2em;
  background-color: #f00;
  background-color: #31AFDD;
    margin: 4em auto;


  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(3.0);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(3.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
.note .contentslot
{
   left: 1em;
   text-align: left;
   margin: 1em;
}
.imgspace
{
float: left;
left: 1%;
}

.note .imgspace img {
width: 4em;
height: 4em;
border-radius: 1em 1em 1em;
border: 2px groove darkseagreen;
opacity: .5;
float: left;

}
.nonote
{
background: gainsboro;
line-height: 5em;
color: currentcolor;
box-shadow: 1px 1px 1px slategrey;
margin: 1.5em;
    
}
.uploaded
{
       height:5em;
    width:5em;
        background-size: 5em 5em;
        background-repeat: no-repeat;
}
.uploadslot
{
    width: 5em;
height: 5em;
background-size: 5em 5em;
background-repeat: no-repeat;
}
.note .daysago {
position: relative;
right: 0px;
bottom: 0px;
opacity: .4;
color: #3D4873;
font-size: 1em;
min-width: 50px;
margin-top: 1em;
}
}
    
#uploadProgress img
{
    -webkit-animation:spin 4s linear infinite ;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    width: 4em;
    height: 4em;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.fileList
{
	width: 100%;
	margin: 0%;
	height: calc(100% - 2em);
	background:rgba(74, 195, 195, 0.23);
	overflow-y: hidden;
}

 .fileList .uploadOptions
{
	position: absolute;
	bottom: 0em;
	right: 0em;
	background: none;
}
 .fileList .file
{
width:8em;
height: 8em;
border: 1px solid yellowgreen;
float: left;
margin: .2em;
background-repeat: no-repeat;
}
 .fileList .file .progressWrap
{
	width: 8em;
	display: block;
	position: relative;
	bottom: 0%;
}
 .fileList .file .progressWrap .prgrss
{
/*Progres Bar styling here*/
width: 100%;
	display: none;

}
.fileList .file .info
{
position: relative;
width:100%;
margin: .5%;
height: 5em;
color: midnightblue;
background: rgba(225, 228, 255, 0.64);
word-wrap:  break-word;

	 bottom: 0%;
	 font-size: .8em;
}

..fileList .file .opts
{
	position: relative;
	min-height: 2em;
	width: 100%;
	
}
 .fileList .file .opts span
{
	float: left;
background: rgba(255, 218, 185, 0.50);
}
.fileList .file .opts span:hover
{
	background: rgba(255, 218, 185, 0.90);
	cursor: pointer;
}
.fileList .file .opts:hover
{

}
 .fileList .file .opts img
{
}
 .fileList .file img
{
width:2em;
height: 2em;

}
.notificationSpace
{
    height:1.0em;
	font-size: 1em;
	text-align: center;
	font-family: "segoe UI light",Arial;
	color: green;
    margin: .5em;
}