.login
{
    background: lightsteelblue;
    border-radius: 2px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 1px 1px 2px #4d5a91;
}
h2
{
    color: #4d5a91;
    text-align: center;
}
#report
{
    color: #914d4d;
}
h3{
    color: #4d8c91;
}
input
{
}
.topribbon
{
background: rgba(172, 190, 218, 0.59);
box-shadow: 1px 1px 1px slategray;
}
.footer
{
bottom: 0px;
text-align: center;
background: gainsboro;
width: 90%;
margin-left: 5%;
}